.wrapper {
    height: 100vh;
    width: 93.75%;
    background: url("assets/images/Group\ 1.png");
    background-size: cover;
    margin-left: 6.25%;
}

.header {
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 40px;
    line-height: 30px;
    color: #000000;
    font-family: "Montserrat";
    font-weight: 900;
    margin: 30px 0 0 30px;
}

.navbar {
    width: 480px;
    margin: 30px 30px 0 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li a {
    display: flex;
    width: 100px;
    height: 41px;
    border-radius: 20px;
    background-color: #000000;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}