.wrapper {
    height: 100vh;
    width: 93.75%;
    background: url("assets/images/Group\ 1.png");
    background-size: cover;
    margin-left: 6.25%;
}

.header {
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 40px;
    line-height: 30px;
    color: #000000;
    font-family: "Montserrat";
    font-weight: 900;
    margin: 30px 0 0 30px;
}

.navbar {
    width: 480px;
    margin: 30px 30px 0 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li a {
    display: flex;
    width: 100px;
    height: 41px;
    text-decoration: none;
    color: #000000;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
}

.navbar ul li a:hover {
    background-color: #000000;
    color: #ffffff;
}

.explore {
    margin: 260px auto 0;
    width: fit-content;
    box-shadow: 0px 85px 62px 29px rgba(0, 0, 0, 0.86);
}

.explore button {
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: #000000;
    color: #ffffff;
    font-family: "Montserrat";
}